doctype html
html(lang="en")
  head
    //- title= <%= htmlWebpackPlugin.options.title %>
    title= mytitle
    body
      include includes/header.pug
      h3 Pug - node template engine index page !!
      img(src=require('./images/floor.jpg'))
      
      
